@font-face {
  font-family: "Kondolar";
  src: url("../assets/fonts/KondolarThai-Black.woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Kondolar";
  src: url("../assets/fonts/KondolarThai-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kondolar";
  src: url("../assets/fonts/KondolarThai-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("../assets/fonts/Anuphan-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anuphan";
  src: url("../assets/fonts/Anuphan-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss/base";

.h1,
.h2,
.h3 {
  line-height: 125%;
  font-family: "Kondolar";
}
.h4,
.h5,
.h6,
.h7,
.h8,
.h9,
.h10,
.h11 {
  line-height: 140%;
  font-family: "Kondolar";
}
.h1 {
  @apply md:text-[100px] text-[60px];
}
.h2 {
  @apply md:text-[72px] text-[48px];
}
.h3 {
  @apply md:text-[60px] text-[36px];
}
.h4 {
  @apply md:text-[48px] text-[32px];
}
.h5 {
  @apply md:text-[36px] text-[28px];
}
.h6 {
  @apply md:text-[32px] text-[24px];
}
.h7 {
  @apply md:text-[28px] text-[21px];
}
.h8 {
  @apply md:text-[24px] text-[18px];
}
.h9 {
  @apply md:text-[21px] text-[16px];
}
.h10 {
  @apply md:text-[18px] text-[15px];
}
.h11 {
  @apply md:text-[16px] text-[14px];
}

.b1 {
  line-height: 150%;
  @apply md:text-[32px] text-[24px];
}
.b2 {
  line-height: 150%;
  @apply md:text-[24px] text-[21px];
}
.b3 {
  line-height: 150%;
  @apply md:text-[21px] text-[18px];
}
.b4 {
  line-height: 150%;
  @apply md:text-[18px] text-[16px];
}
.b5 {
  line-height: 150%;
  @apply md:text-[16px] text-[14px];
}
.b6 {
  line-height: 150%;
  @apply md:text-[14px] text-[13px];
}
.b7 {
  line-height: 150%;
  @apply text-[12px];
}

.u1 {
  line-height: 125%;
  @apply text-[20px];
}
.u2 {
  line-height: 125%;
  @apply text-[18px];
}
.u3 {
  line-height: 125%;
  @apply text-[20px];
}
.u4 {
  line-height: 125%;
  @apply text-[20px];
}
.u5 {
  line-height: 125%;
  @apply text-[20px];
}
