@import "tailwindcss/base";
* {
  font-family: "Anuphan";
}
html {
  scroll-behavior: smooth;
  outline: none;
  overflow-x: hidden;
  @apply text-white bg-black;
}

@import "tailwindcss/components";
.circle_ratio {
  @apply w-[24px] h-[24px] rounded-full;
}
@import "tailwindcss/utilities";
