@import "tailwindcss/base";
* {
  font-family: "Anuphan";
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
  outline: none;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
