@import "tailwindcss/base";
* {
  font-family: "Anuphan";
}
html {
  scroll-behavior: smooth;
  outline: none;
  overflow-x: hidden;
  @apply text-white bg-black;
}

@import "tailwindcss/components";
.circle_ratio {
  @apply w-[20px] h-[20px] lg:w-[24px] lg:h-[24px] rounded-full;
}
.red {
  @apply font-bold text-scarlet;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next {
  right: 5% !important;
  background-image: url("../public/images/arrow.svg") !important;
  background-repeat: no-repeat !important;

  @apply w-[40px] h-[40px] bg-[length:40px] md:bg-[length:60px]  md:h-[60px] md:w-[60px]  !important;
}
.swiper-button-prev {
  left: 5% !important;
  content: "" !important;
  background-image: url("../public/images/arrow.svg") !important;

  background-repeat: no-repeat !important;
  transform: rotate(180deg) !important;
  @apply w-[40px] h-[40px] bg-[length:40px] md:bg-[length:60px]  md:h-[60px] md:w-[60px]  !important;
}
.swiper-button-disabled {
  display: none !important;
}
.swiper-slide {
  @apply w-[240px] mx-[10px] md:mx-[15px] md:w-[280px] lg:w-[368px] !important;
}

@import "tailwindcss/utilities";
