.app {
  font-family: "Muli", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #283149;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .right,
  .left {
    flex: 1;
  }

  .left {
    img {
      position: relative;
      display: block;
      max-height: 60vh;
      margin: 0 auto;
    }
  }
}

p {
  color: #fff;
}

a {
  color: #888;
  text-decoration: none;
  padding: 10px 0;
}

.align-center {
  text-align: center;
}

.btn {
  letter-spacing: 1px;
  padding: 20px 50px;
  font-weight: 900;
  display: inline-block;
  display: none;
  &.white-blue {
    background-color: #dbedf3;
    color: #404b69;
  }
}

.mangnifer-image-container img {
  pointer-events: none;
}

#cursor-circle {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: -15px;
  transform-origin: 50% 50%;
  opacity: 1;

  .cursor-circle {
    // border: 3px solid #fff;
    border-radius: 15px;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0px;
    transform-origin: 50% 50%;
    transition: 0.2s border ease-in-out;
    transition-delay: 0.4s;

    .cursor-circle-hover-link {
      border-radius: 15px;
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0px;
      left: 0px;
      transform: scale3d(1, 1, 1);
      transform-origin: 50% 50%;

      transition: all 0.4s ease-in-out;
      transition-delay: 0s;

      &:before {
        content: "";
        display: block;
        background: transparent;
        opacity: 0.6;
        position: absolute;
        border-radius: 15px;
        top: -3px;
        left: -3px;
        width: 30px;
        height: 30px;
        transition: 0.4s background ease-in-out;
        transition-delay: 0.4s;
      }
    }
  }

  // &.cursor-hover-active {
  //   .cursor-circle {
  //     background: red;
  //     border: 3px solid transparent;
  //     transition-delay: 0.2s;

  //     .cursor-circle-hover-link {
  //       transform: scale3d(4, 4, 4);
  //       transition-delay: 0.4s;

  //       &:before {
  //         background: #f73859;
  //         transition-delay: 0s;
  //       }
  //     }
  //   }
  // }
}

// #cursor-small {
//   display: block;
//   width: 6px;
//   height: 6px;
//   border-radius: 3px;
//   background-color: #f73859;
//   position: absolute;
//   top: -3px;
//   left: -3px;
//   transform-origin: 50% 50%;
// }

.cursor-circle-zoom {
  display: block;
  width: 150px;
  height: 150px;

  border-radius: 200px;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) scale3d(0, 0, 0);
  transition: transform 0.5s ease-in-out;

  // &:before {
  //   content: "";
  //   background-color: #f73859;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 200px;
  //   opacity: 1;
  //   transition: opacity 0.4s ease-in-out;
  //   transition-delay: 0s;
  // }

  background: #000;
  border: 1px solid white;
  &.zoom-active {
    transform: translate(-50%, -50%) scale3d(2, 2, 2);
    &:before {
      opacity: 0;
      transition-delay: 0.3s;
    }
  }
}
